  @font-face {
            font-family: 'ya-hei';
            src: url('file:///home/wy/Documents/cms/test/YaHei.Consolas.1.12.ttf');
            font-weight: normal;
            font-style: normal;
        }


        body {
            font-family: 'ya-hei',  sans-serif;
            overflow: hidden;
            word-wrap: break-word;
            font-size: 14px;
            background: #f6f6f6;
        }
        code {
            font-family: 'ya-hei';
            background:red;
        }