<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        crossorigin="anonymous">

</head>

<body>

    <div id="app">
            <b-dropdown id="dropdown-1" text="Dropdown Button" class="m-md-2">
                    <b-dropdown-item>First Action</b-dropdown-item>
                    <b-dropdown-item>Second Action</b-dropdown-item>
                    <b-dropdown-item>Third Action</b-dropdown-item>
                    <b-dropdown-divider></b-dropdown-divider>
                    <b-dropdown-item active>Active action</b-dropdown-item>
                    <b-dropdown-item disabled>Disabled action</b-dropdown-item>
                </b-dropdown>
   
    </div>
    <button onclick="test()">登录</button>
    <button onclick="getTags()">getTags</button>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>

        var app = new Vue({
            el: '#app',
            // components:{
            //     Balert
            // },
            // data: {
            //     message: 'Hello Vue!'
            // }
        })

        // axios.defaults.withCredentials = true
        var service = axios.create({
            baseURL: 'http://localhost:8080/',
            // timeout: 10000,
            withCredentials: true,
        })

        function test() {
            service({
                url: 'login',
                method: 'post',
                params: {
                    username: 'wangyang',
                    password: '123456'
                },
           
            });

        }
        function getTags() {
            service({
                url: '/api/tags',
                method: 'get',
               
            })

        }

    </script>
</body>

</html>