<nav class="navbar navbar-expand-lg navbar-light mb-3 fixed-top shadow-sm app" id="header">
  <div class="nav-title">
    <a class="navbar-brand " href="/">学生物</a>
  </div>


  <div class=" navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link css-首页" href="/user/write">写文章</a>
      </li>
      <li class="nav-item">
        <a class="nav-link css-首页" href="/user/articleList">所有文章</a>
      </li>

    </ul>
  </div>
  <div>
    <div th:if="${#request.getAttribute('username')!=null}" class="bd-search d-flex align-items-center">
        <a  class="nav-link" th:text="'欢迎'+${#request.getAttribute('username')+'登录'}" href="/user/info"></a>
        <a href="/user/logout">退出</a>
    </div>
      
      <a  th:if="${#request.getAttribute('username')==null}"  class="nav-link css-首页" href="/login">请登录</a>
  </div>
  <!-- <form class="bd-search d-flex align-items-center">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    <button class="navbar-toggler ml-2" type="button" data-toggle="collapse" data-target="#bd-docs-nav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </form> -->
</nav>