<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/templates/resources/css/index.css?v=1.5">

    <title>jsMind</title>
    <link type="text/css" rel="stylesheet" href="/templates/resources/css/jsmind.css" />
    <style type="text/css">
        /* #jsmind_container {
            width: 800px;
            height: 500px;
            border: solid 1px #ccc;
            background: #f4f4f4;
        } */
    </style>
</head>

<body>
    <div th:insert="templates/user/header"></div>
    <div class="container">
        <a class="text-secondary" th:href="@{'~/'+${category.path}+'/'+${category.viewName}+'.html'}">返回列表</a>

        <button onclick="submit()">提交</button>
        <div id="jsmind_container"></div>
    </div>
    <!--#include file="/components/footer.html"-->
    <div th:if="${isSave== null && notPdf==null}" th:insert="html/components/footer :: #footer"></div>

    <script type="text/javascript" src="/templates/resources/js/jsmind.js"></script>
    <script type="text/javascript" src="/templates/resources/js/jsmind.draggable.js"></script>
    <script type="text/javascript">
        var jm;
        function load_jsmind() {
            var mind = {
                "meta": {
                    "name": "demo",
                    "author": "hizzgdev@163.com",
                    "version": "0.2",
                },
                "format": "node_array",
                "data": [(${ mind })]

            };
            var options = {
                container: 'jsmind_container',
                editable: true,
                theme: 'primary',

            }
            jm = jsMind.show(options, mind);
            // // jm.set_readonly(true);
            // // var mind_data = jm.get_data();
            // // alert(mind_data);
            // // jm.add_node("sub2","sub23", "new node", {"background-color":"red"});
            // // jm.set_node_color('sub21', 'green', '#ccc');
            // jm.add_event_listener(function (type, data) {
            //     // console.log(data)
            //     if (jm.get_selected_node()) {
            //         // console.log(jm.get_selected_node().data.data)
            //         // window.open("http://"+jm.get_selected_node().data.data)
            //     }


            // });

        }

        load_jsmind();
        var url = location.hostname;
        var protocol = window.location.protocol;
        var address = protocol + "//" + url + ":8080";
        console.log(jm.get_data("node_array").data)
        function submit() {
            console.log(jm.get_data("node_array").data)
            fetch(address + '/api/article/saveMindJs/[[${category.id}]]', {
                body: JSON.stringify(jm.get_data("node_array").data),
                headers: {
                    'user-agent': 'Mozilla/4.0 MDN Example',
                    'content-type': 'application/json',
                    'Accept': 'application/json,text/plain,*/*',
                    'AuthorizeType': 'Cookie'
                },
                method: 'POST',
                credentials: "include",
            }).then(function (response) {
                return response.json();
            }).then(function (myJson) {
                // console.log(myJson);
                alert(myJson.message)
            });
        }
    </script>
</body>

</html>