<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    crossorigin="anonymous">

<div class="row row-cols-1 row-cols-md-3" id="category">
    <div class="col mb-4" th:each="item : ${view}">
        <div class="card h-100">
            <img th:src="${item.picPath}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title" th:text="${item.name}">Card title</h5>
                <a th:href="'/articleList/'+${item.viewName}+'.html'">
                    <p class="card-text" th:text="${item.description}"></p>
                </a>

            </div>
        </div>
    </div>

    <!-- <div class="col mb-4">
                <div class="card h-100">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a short card.</p>
                    </div>
                </div>
            </div> -->

</div>


<!-- <ul id="category">
    <li th:each="item : ${view}">
        <a th:href="'/articleList/'+${item.viewName}+'.html'" th:text="${item.name}"></a>

        <ul th:if="${not #lists.isEmpty(item.children)}" th:each="child : ${item.children}">
            <li>
                <a th:href="'/articleList/'+${item.viewName}+'.html'" th:text="${child.name}"></a>
            </li>
        </ul>
    </li>
</ul> -->

<!-- <span th:text="${template.path}"></span> -->