<!DOCTYPE html>
<html>

<head th:replace="templates/fragment/header :: common_header(~{::title},~{::link},~{})">
    <title th:text="${view.title}"></title>

    <link rel="stylesheet" href="/templates/resources/css/sheet.css">
    <!-- markdown扩展 -->
    <link rel="stylesheet" href="/templates/resources/css/admonition.css">
</head>

<body cms:inline="none">
    <div cms:replace="/html/components/header :: #fragment"></div>

    <div class="container">
        <!-- <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page" th:text="${view.title}">首页</li>
            </ol>
        </nav> -->

        <div class="markdown shadow p-3 bg-white rounded mb-3" th:utext="${view.formatContent}">
        </div>

    </div>
    <script src="/templates/resources/js/search_engine.js"></script>

    <div cms:replace="/html/components/footer :: #fragment"></div>
    <div th:replace="templates/fragment/footer"></div>

</body>

</html>