<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="生命科学知识分享,生物技术,生物信息学" th:content="${view.title}">
    <meta name="description" content="分享生命科学方面相关文章" th:content="${view.summary}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/templates/resources/themes/github.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.css">
    <link rel="stylesheet" href="/templates/resources/css/index.css?v=1.03">
    <link rel="stylesheet" href="/templates/resources/css/admonition.css">

    <title th:text="${view.title}">Document</title>

    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.0.2/build/styles/default.min.css">

</head>

<body>
    <!--#include file="/components/header.html"-->
    <div th:if="${isSave== null && notPdf==null}" th:insert="html/components/header :: #header"></div>
    <!--[ <div th:insert="html/components/header"></div> ]-->


    <div class="container">

        <div class="row">

            <div class="col-lg-9 channelContent mb-3">

                <div id="main-content">
                    <div class="shadow bg-white">
                        <div class="content-header border-bottom pl-3 pr-3 pt-3 pb-3">
                            <h1 class="m-0 title" th:text="${view.title}">标题</h1>
                            <div class="info text-secondary">
                                <span class="mr-2  ">最后发布时间:<strong th:text="${#dates.format( view.updateDate, 'yyyy-MM-dd HH:mm:ss')}">时间</strong></span>
                                <span class="mr-2">浏览量:<strong id="visits"></strong></span>
                    
                            </div>
                        </div>
                        <div class="markdown pt-2 pl-3 pr-3 pb-3">
                                [(${view.formatContent})]
                        </div>
                    </div>
            
                    <div class="mt-3">
                        <div class=" shadow bg-white p-3  d-flex justify-content-around">
                            <a  id="likeOption" href="javascript:;" style="width: 1.5rem;" class="d-flex align-items-center text-secondary"><img id="like-img" src="/templates/resources/img/like.svg" alt=""><span id="like"></span></a>
                        </div>
                    </div>
            
                    <div id="article-comment" th:if="${view.openComment}">
                        <!--#include file="/components/[[${view.viewName}]].html"-->
                        <div th:if="${isSave== null && notPdf==null}" th:insert="'html/components/'+${view.viewName}"></div>
                
                    </div>
                </div>
             
            </div>

            <div class="col-lg-3  bd-links bd-sidebar ">

                <div id="siderbar">
                    <div class="card mb-3  bg-white p-3 user-info ">
                            <div class="d-flex justify-content-center">
                                <img th:src="${view.user.avatar}" alt=""class="img-fluid rounded-circle"/>  
                                <div class="align-self-center ml-3">
                                        <strong th:text="${view.user.username}"> </strong>
                                </div>
                            </div>
                    </div>
    
                   
                    
                    <div class=" mb-3 shadow">
                        <!--#include file="/components/recommend-[[${view?.category?.viewName}]].html"-->
                    </div>
                
    
                    <div class="card mb-3 p-3 bg-white">
                        <div class=" d-flex">
                            <span class="text-muted">分享到：</span>
                            <img style="width: 1.5rem;height: 1.5rem;" src="/templates/resources/img/qq.svg"  onclick="shareTo('qzone')">
                        </div>
                        <div >
                                <a href="javascript:;" th:onclick="downloadPDF([[${view.id}]])">下载PDF</a>
                        </div>
                    </div>

                    <div th:if="${view.toc!=''}" id="content-table" class="mb-3">
                        <!-- 文章目录 -->
                        <div  class="  card shadow  bd-links ">
                            <div id="content-table-header" class="card-header d-flex justify-content-between">
                                <span>本文列表</span>
                                <a href="javascript:;" id="close-content-table">&times;</a>
                            </div>
                            <div class="card-body" th:utext="${view.toc}">
                            </div>
                        </div>
                    </div>

                </div>
            
            </div>
               
        </div>
    </div>

    <!--#include file="/components/footer.html"-->
    <div th:if="${isSave== null && notPdf==null}" th:insert="html/components/footer :: #footer"></div>


    <script src="/templates/resources/js/jquery-3.4.1.min.js"></script>
    <script src="/templates/resources/js/jquery.cookie.js"></script>
    <script src="/templates/resources/js/article.js?v=1.04"></script>
    <script src="/templates/resources/js/index.js?v=1.05"></script>
    <script src="/templates/resources/js/admonition.js"></script>


    <script>
        increaseViewCount([[${ view.id }]])
        likeStatus([[${ view.id }]])






        $("#likeOption").click(function () {
            increaseLikeCount([[${ view.id }]])
        })



        /*************************评论代码****************************/
        function addComment() {
            let username = $("#username").val()
            let email = $("#email").val()
            let content = $("#content").val()
            console.log(username + email + content)
            var data = {
                "username": username,
                "email": email,
                "content": content,
                "articleId": "[[${view.id}]]"
            }
            console.log("/components/[[${view.viewName}]].html")
            commentApi.add(data).then(response => {
                // console.log(response)
                alert("成功添加评论" + response.data.message)
                $('#comment-list').load("/components/[[${view.viewName}]].html #comment-list")
            }).catch(function (error) {
                // handle error
                // console.log(error.response.data.message);
                alert(error.response.data.message)

            })
        }


    </script>


    <script>
        move("content-table-header", "content-table", "close-content-table");
    </script>
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.0.2/build/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</body>

</html>