<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="生命科学知识分享,生物技术,生物信息学" th:content="${view.category.name}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/templates/resources/themes/github.css">

    <link rel="stylesheet" href="/templates/resources/css/index.css?v=1.2">

    <title th:text="${view.category.name}">Document</title>

</head>

<body>



    <!--#include file="/components/header.html"-->
    <div th:if="${isSave== null && notPdf==null}" th:insert="html/components/header :: #header"></div>
    <!--[ <div th:insert="html/components/header"></div> ]-->

    <div class="container">
        <div class="catrgory-header">
            <div class="img mr-3">
                <!-- <img class="mb-1" src="/templates/resources/img/logo_category.png"> -->
                <!-- <img th:if="${view.category.picPath!=''}" th:src="${view.category.picPath}" class="mb-1"> -->
                <span th:text="${view.category.name}"></span>
            </div>
            <p>
                [(${view.category.description})]
            </p>
        </div>

        <div class="category-horizontal mb-3 pt-3">
            <div class="category-title"><span>文章栏目快速导航</span></div>
            <!--[ <div  th:replace="html/components/[[${view.category.templateName}]]"></div> ]-->
            <!--#include file="/components/[[${view.category.templateName}]].html"-->
            <div th:if="${isSave== null}" th:insert="'html/components/'+${view.category.templateName}"></div>
        </div>

        <div class="mb-3">
            <ul class="list-group list-group-flush panel">
                <div class="list-group-item list-group-item-light">
                    <a th:href="'/'+${view.category.path}+'/'+${view.category.viewName}+'.html'" class="text-secondary">
                        <strong th:text="${view.category.name}"></strong>
                    </a>
                </div>
                <div id="components">
                    <div th:each="item : ${view.page.getContent()}" class="components-item">
                        <div class="list-group-item list-group-item-action d-flex ">
                            <a th:href="'/'+${item.path}+'/'+${item.viewName}+'.html'" class="text-secondary w-75">
                                <span th:text="${item.title}"> </span>
                            </a>
                            <!-- <a href="javascript:;" th:onclick="previewArticle([[${item.id}]],[[${item.viewName}]])"
                                class="text-secondary preview ">预览</a> -->
                            <a href="javascript:;"
                                th:onclick="previewArticleHTML([[${item.path}]],[[${item.viewName}]])"
                                class="text-secondary preview ">预览</a>
                        </div>
                        <div th:id="${item.viewName}" class="bg-white markdown">
                        </div>
                    </div>
                </div>
            </ul>
        </div>

        <div th:if="${view.page.totalPages} gt '1'" class="mb-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination">

                    <li class="page-item">
                        <a class="page-link" th:href="'/articleList/'+${view.category.viewName}+'.html'"
                            aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="'/articleList/'+${view.category.viewName}+'.html'">1</a>
                    </li>

                    <li class="page-item" th:each="item : ${#numbers.sequence(2, view.page.totalPages)}">
                            <a class="page-link"  th:href="'/'+${view.category.path}+'/'+${view.category.viewName}+'/page-'+${item}+'.html'" th:text="${item}">1</a>
                        </li>
    
                        <li class="page-item">
                            <a class="page-link"    th:href="'/'+${view.category.path}+'/'+${view.category.viewName}+'/page-'+${view.page.totalPages}+'.html'"aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
    </div>

    <!--#include file="/components/footer.html"-->
    <div th:if="${isSave== null && notPdf==null}" th:insert="html/components/footer :: #footer"></div>


    <script src="/templates/resources/js/jquery-3.4.1.min.js"></script>
    <script src="/templates/resources/js/service.js"></script>
    <script src="/templates/resources/js/index.js"></script>

    <script src="/templates/resources/js/article.js"></script>

    <script>

      


        // if ($(window).width() < 768) {
        //     $(document).click(function (event) {
        //         var _con = $('.panel');
        //         var channelList = $("#bd-docs-nav")
        //         // 如果点击目标不是input，弹框消失
        //         if (!_con.is(event.target) || !channelList.is(event.target)) {
        //             // $('.panel').slideUp('slow');
        //             // $(".panel").animate({
        //             //     width: 'toggle'
        //             // });
        //             $("#bd-docs-nav").slideUp("fast");
        //             $(".panel").slideUp("fast");
        //         }
        //     });
        // }

    </script>

</body>

</html>