<!-- 评论嵌入 -->
<div class="list-group list-group-flush mb-3 shadow  bg-white rounded" id="comment">

    <div class="list-group-item list-group-item-light">

        <div class="form-group">
            <!-- <label>输入你的评论</label> -->

            <div class="row mb-2">
                <div class="col-md-5">
                    <input type="text" class="form-control" placeholder="请输入你的昵称" id="username">
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" placeholder="请输入你的电子邮箱" id="email">
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary" id="submit" onclick="addComment()">发布</button>

                </div>
            </div>
            <textarea class="form-control mb-2" rows="3" placeholder="输入你的评论内容" id="content"></textarea>

        </div>
    </div>

    <div id="comment-list">
        <a th:each="item : ${view.content}" class="list-group-item list-group-item-action"
            th:text="${item.content}"></a>
    </div>
</div>