<!DOCTYPE html>
<html >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/templates/resources/css/index.css">
    <style>
        .picture-nav {
            display: block;
        }

        .picture-nav a {
            display: inline-block;
            width: fit-content;
        }

        /* .css-[[${view.category.viewName}]] {
            z-index: 2;
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
        }

        .css-[[${view.category.viewName}]]:hover {
            z-index: 2 !important;
            color: #fff !important;
            background-color: #007bff !important;
            border-color: #007bff !important;
        } */
    </style>
</head>

<body>



    <!--#include file="/components/header.html"-->
    <div th:if="${isSave== null && notPdf==null}" th:insert="html/components/header :: #header"></div>


    <div class="container">

        <div class="category-horizontal mb-3">
            <div class="category-title"><span>图片瀑布流导航</span></div>
            <!--[ <div  th:replace="html/components/[[${view.category.templateName}]]"></div> ]-->
            <!--#include file="/components/[[${view.category.templateName}]].html"-->
            <!-- <div th:if="${isSave== null}" th:insert="'html/components/'+${view.category.templateName}"></div> -->
        </div>


        <div id="articleContent">

            <div class="card-columns">
                <div class="card" th:each="item : ${view.page.content}">
                    <a th:href="'/'+${item.path}+'/'+${item.viewName}+'.html'">
                        <img th:src="${item.picPath}" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${item.title}"></h5>
                            <p class="card-text" th:text="${item.summary}"></p>
                        </div>
                    </a>

                </div>
                <!-- <div class="card p-3">
                            <blockquote class="blockquote mb-0 card-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <footer class="blockquote-footer">
                                    <small class="text-muted">
                                        Someone famous in <cite title="Source Title">Source Title</cite>
                                    </small>
                                </footer>
                            </blockquote>
                        </div>
                        <div class="card">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
                                </p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                        <div class="card bg-primary text-white text-center p-3">
                            <blockquote class="blockquote mb-0">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
                                <footer class="blockquote-footer text-white">
                                    <small>
                                        Someone famous in <cite title="Source Title">Source Title</cite>
                                    </small>
                                </footer>
                            </blockquote>
                        </div>
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This card has a regular title and short paragraphy of text below it.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                        <div class="card">
                            <img src="..." class="card-img-top" alt="...">
                        </div>
                        <div class="card p-3 text-right">
                            <blockquote class="blockquote mb-0">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <footer class="blockquote-footer">
                                    <small class="text-muted">
                                        Someone famous in <cite title="Source Title">Source Title</cite>
                                    </small>
                                </footer>
                            </blockquote>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is another card with title and supporting text below. This card has some
                                    additional content to make it slightly taller overall.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div> -->
            </div>
        </div>

    </div>


    <!--#include file="/components/footer.html"-->
    <div th:if="${isSave== null && notPdf==null}" th:insert="html/components/footer :: #footer"></div>


    <script src="/templates/resources/js/jquery-3.4.1.min.js"></script>
    <script src="/templates/resources/js/index.js"></script>

</body>

</html>