<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${view.category.name}">分类页面</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <!-- <div th:if="${isSave == null}">
            <div th:insert="html/components/header :: #header"></div>
        </div> -->
        <!--#include file="/components/header.html"-->

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/index.html">首页</a></li>
                <li class="breadcrumb-item active" aria-current="page" th:text="${view.category.name}">分类列表页</li>
            </ol>
        </nav>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 th:text="${view.category.name}" class="display-4">Fluid jumbotron</h1>
                <p th:text="${view.category.description}" class="lead">This is a modified jumbotron that occupies the
                    entire horizontal space of its parent.
                </p>
            </div>
        </div>


        <!-- <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul> -->





        <ul class="list-group">

            <a th:href="'/'+${item.path}+'/'+${item.viewName}+'.html'" class="list-group-item list-group-item-action"
                th:each="item : ${view.page.getContent()}">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1" th:text="${item.title}">List group item heading</h5>
                    <small th:text="${item.createDate}">3 days ago</small>
                </div>
                <p class="mb-1" th:text="${item.summary}">Donec id elit non mi porta gravida at eget metus. Maecenas sed
                    diam eget risus varius
                    blandit.</p>
                <!-- <small>Donec id elit non mi porta.</small> -->
            </a>

        </ul>
   
        <!-- [(${view.page.totalPages})] -->
        <div style="margin-top: 2rem;" th:if="${view.page.totalPages} gt '1'">
            <nav aria-label="Page navigation example">
                <ul class="pagination">

                    <li class="page-item">
                        <a class="page-link" th:href="'http://localhost:8080/articleList/'+${view.category.viewName}+'.html'" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <li class="page-item"  th:each="item : ${#numbers.sequence(1, view.page.totalPages)}">
                        <a class="page-link"  th:href="'http://localhost:8080/articleList/category/'+${view.category.id}+'?page='+${item}" th:text="${item}">1</a>
                    </li>


                   
                    <li class="page-item">
                        <a class="page-link"  th:href="'http://localhost:8080/articleList/category/'+${view.category.id}+'?page='+${view.page.totalPages}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>


        <!--#include file="/components/footer.html"-->
        <div th:if="${isSave== null}">
            <div th:insert="html/components/footer :: #footer"></div>
        </div>
    </div>



</body>

</html>