<!DOCTYPE html>
<html>

<head th:replace="templates/fragment/header :: common_header(~{::title},~{::link},~{::meta})">
    <title th:text="${view.title}">文章详情</title>
    <meta name="keywords" content="生命科学知识分享,生物技术,生物信息学" th:content="${view.title}">
    <meta name="description" content="分享生命科学方面相关文章" th:content="${view.summary}">

    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.0.2/build/styles/default.min.css">
    <!-- markdown扩展 -->
    <link rel="stylesheet" href="/templates/resources/css/admonition.css">
</head>

<body cms:inline="none">
<div cms:replace="/html/components/header :: #fragment"></div>

<div class="container ">
    <div class="row">
        <div class="col-lg-9 mb-3">

            <!-- <div>
                <img th:src="${view.picPath}" class="rounded-pill"/>
            </div> -->
            <div id="main-content">
                <div class=" shadow bg-white">
                    <div class="content-header border-bottom pl-3 pr-3 pt-3 pb-3">
                        <h1 class="m-0 title" th:text="${view.title}">标题</h1>
                        <div class="info text-secondary">
                            <span class="mr-2  ">最后发布时间:<strong th:text="${#dates.format( view.updateDate, 'yyyy-MM-dd HH:mm:ss')}">时间</strong></span>
                            <span class="mr-2">浏览量:<strong id="visits"></strong></span>
                        </div>
                    </div>
                    <div class="markdown pt-2 pl-3 pr-3 pb-3" th:utext="${view.formatContent}">

                    </div>
                    <div class="  p-3  d-flex justify-content-around">

                        <a  id="likeOption" href="javascript:;" style="width: 1.5rem;" class="d-flex align-items-center text-secondary"><img id="like-img" src="/templates/resources/img/like.svg" alt=""><span id="like"></span></a>
                        <a th:href="@{'~/user/edit/'+${view.id}}" class="text-secondary">编辑</a>
                    </div>
                </div>


                <div id="article-comment" th:if="${view.openComment}">
                    <div cms:replace="@{'html/components/comment/'+${view.viewName}}" parser></div>
                </div>

                <div class="mt-3">

                    <div cms:replace="~{'html/components/recommend-'+${view.category.viewName}} ?:_" parser></div>
                </div>

            </div>


        </div>

        <div class="col-lg-3 ">

            <div id="siderbar">
                <div class="card mb-3  bg-white p-3 user-info">

                    <div class="d-flex justify-content-center">
                        <img th:src="${view.user.avatar}" alt=""class="img-fluid rounded-circle"/>
                        <div class="align-self-center ml-3">
                            <strong th:text="${view.user.username}"> </strong>

                        </div>
                    </div>

                </div>


                <div class="card mb-3  bg-white">
                    <div class="card-body">
                        <dl>
                            <dt class="text-muted">快捷入口</dt>
                            <dd th:if="${view.category!=null}">
                                <a class=" badge badge-success"
                                   th:href="'/html_articleList_'+${view.category.viewName}+'.html'"
                                   th:text="${view.category.name}"></a>
                                <a class=" badge badge-success"
                                   th:href="'/html_articleList_'+${view.category.viewName}+'_'+${view.category.id}+'_mind.html'"
                                >思维导图</a>
                            </dd>
                        </dl>

                        <dl>
                            <dt class="text-muted">标签</dt>
                            <dd th:if="${view.tags!=null}">
                                <a th:href="@{~/articleList(tagsId=${item.id})}" class="badge badge-info mr-1" th:each="item : ${view.tags}"
                                   th:text="${item.name}"></a>
                            </dd>

                        </dl>
                    </div>
                </div>

                <!-- <div class=" mb-3 shadow">
                </div>
 -->
                <div class="card mb-3 p-3  bg-white">
                    <div class=" d-flex mb-2">
                        <span class="text-muted">分享到：</span>
                        <img style="width: 1.5rem;height: 1.5rem;" src="/templates/resources/img/qq.svg"  onclick="shareTo('qzone')">
                    </div>
                    <div >
                        <a target="_blank" th:href="@{'~/preview/pdf/'+${view.id}}" >浏览PDF</a>
                        <a href="javascript:;" th:onclick="downloadPDF([[${view.id}]])">下载PDF</a>
                    </div>
                </div>

                <div th:if="${view.toc!=''}" id="content-table" class="mb-3">
                    <!-- 文章目录 -->
                    <div  class="  card shadow  bd-links ">
                        <div id="content-table-header" class="card-header d-flex justify-content-between">
                            <span>本文列表</span>
                            <a href="javascript:;" id="close-content-table">&times;</a>
                        </div>
                        <div class="card-body" th:utext="${view.toc}">
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>
<input type="hidden" cms:value="${userId}" id="userId">
<div cms:replace="/html/components/footer :: #fragment"></div>

<div th:replace="templates/fragment/footer"></div>
<script src="/templates/resources/js/article.js?v=1.04"></script>
<script src="/templates/resources/js/admonition.js"></script>
<script src="/templates/resources/js/search_engine.js"></script>
<script>
        $(function () {
            $("img.lazy").lazyload({ effect: "fadeIn", threshold: 180 });
        });

        increaseViewCount([[${ view.id }]])
        likeStatus([[${ view.id }]])

        $("#likeOption").click(function () {
            increaseLikeCount([[${ view.id }]])
        })


        // $('#test1').load("/[[${view.path}]]/comment-[[${view.viewName}]].html ")

        /*************************评论代码****************************/
        let userId = $("#userId").val()
        let submit = $('#submit')
        let pathname = window.location.pathname
        if(userId==""){
            $('#content').val('');
            $("#content").attr("placeholder", "请登录");
            $("#content").attr("disabled", true);

            submit.text('请登录');
            submit.click(function(){
                window.open("/login?redirect="+pathname,"_self")
            })
        }else{
            $("#content").removeAttr("disabled");
        }
        function addComment() {

            let content = $("#content").val()

            console.log(userId=="")
            var data = {
                "userId": userId,
                "content": content,
                "articleId": "[[${view.id}]]"
            }
            console.log(data)
            // console.log(jm.get_data("node_array").data)
            fetch('http://localhost:8080/api/comment', {
                body: JSON.stringify(data),
                headers: {
                    'user-agent': 'Mozilla/4.0 MDN Example',
                    'content-type': 'application/json',
                    'Accept': 'application/json,text/plain,*/*',
                    'AuthorizeType': 'Cookie'
                },
                method: 'POST',
            }).then(function (response) {
                return response.json();
            })
                .then(function (myJson) {
                    console.log(myJson);
                });
        }


        function addComment22() {
            let username = $("#username").val()
            let email = $("#email").val()
            let content = $("#content").val()
            console.log(username + email + content)
            var data = {
                "username": username,
                "email": email,
                "content": content,
                "articleId": "[[${view.id}]]"
            }
            console.log("/components/[[${view.viewName}]].html")
            commentApi.add(data).then(response => {
                // console.log(response)
                alert("成功添加评论" + response.data.message)
                $('#comment-list').load("/components/[[${view.viewName}]].html #comment-list")
            }).catch(function (error) {
                // handle error
                // console.log(error.response.data.message);
                alert(error.response.data.message)

            })
        }


    </script>

<!-- <script>
        move("content-table-header", "content-table", "close-content-table");
    </script> -->
    <!-- 代码高亮 -->
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.0.2/build/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</body>

</html>