<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${view.title}">Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/templates/resources/css/index.css">

</head>

<body>
    <!--#include file="/components/header.html"-->
    <div th:if="${isSave== null && notPdf==null}" th:insert="html/components/header :: #header"></div>


    <div class="container">
     
    </div>


    <!--#include file="/components/footer.html"-->
    <div th:if="${isSave== null && notPdf==null}" th:insert="html/components/footer :: #footer"></div>

    <script src="/templates/resources/js/jquery-3.4.1.min.js"></script>

</body>

</html>