<ul class="list-group list-group-flush ">
        <a th:href="'/'+${item.path}+'/'+${item.viewName}+'.html'" th:each="item : ${view}"
            class="list-group-item  align-items-center list-group-item-action">
            <div>
                    <span th:text="${item.title}"></span>
            </div>
          
            <p class="mb-1" th:text="${item.summary}"></p>
            <!-- <span class="badge badge-secondary badge-pill" th:text="${item.visits}"></span> -->
    
        </a>
    </ul>
    