<!-- 单纯文件列表的模板 -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${view.category.name}">分类页面</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/templates/resources/css/index.css">
    <style>
        .breadcrumb {
            background: #f6f6f6;
            border-radius: 0;
            padding: 0;
            margin-bottom: 0.5rem !important;
        }

        .jumbotron {
            overflow: auto;
        }

        .showloading {
            display: none;
        }
    </style>
</head>

<body cms:inline="none">
    <div cms:replace="/html/components/header :: #fragment"></div>

    <div class="container" id="app">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <span class="text-secondary">当前位置：</span>
                <li class="breadcrumb-item"><a href="/index.html" class="text-secondary">首页</a></li>
                <li th:if="${view.parent!=null}" class="breadcrumb-item active" aria-current="page">
                    <a class="text-secondary" th:href="'/articleList/'+${view.parent.viewName}+'.html'"
                        th:text="${view.parent.name}"></a>
                </li>
                <li class="breadcrumb-item active text-secondary" aria-current="page" th:text="${view.category.name}">
                    分类列表页</li>
            </ol>
        </nav>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 th:text="${view.category.name}" class="display-4">Fluid jumbotron</h1>
                <p th:text="${view.category.description}" class="lead">
                    This is a modified jumbotron that occupies the
                    entire horizontal space of its parent.
                </p>
                <hr class="my-4">
                <p>
                    <small>
                        这个栏目一共收录文章<em th:text="${view.page.totalElements}"></em>篇，
                        一共有<span th:text="${view.page.totalPages}"> </span>页，
                        每页显示<span th:text="${view.page.size}"> </span>篇
                    </small>

                </p>


            </div>
        </div>


        <ul class="list-group list-group-flush">
            <div id="articleContent">
                <a th:href="'/'+${item.path}+'/'+${item.viewName}+'.html'"
                    class="list-group-item list-group-item-action" th:each="item : ${view.page.getContent()}">
                    <div class="d-flex w-100 justify-content-between">
                        <strong> <h5 class="mb-1 title" th:text="${item.title}">文章标题</h5></strong>
                        <small th:text="${item.createDate}">发布时间</small>
                    </div>
                    <p class="mb-1" th:text="${item.summary}">文章摘要</p>
                    <!-- 用户 -->
                    <small>
                        <div class="d-flex flex-row bd-highlight ">
                            <div class="p-2 bd-highlight" style="width: 2.3rem;">
                                <img th:src="${item.user.avatar}" alt="" class="img-fluid rounded-circle">
                            </div>
                            <div class="p-2 bd-highlight">
                                <span th:text="${item.user.username}"></span>
                            </div>
                        </div>
                    </small>
                </a>
            </div>
        </ul>

        <div style="margin-top: 2rem;" th:if="${view.page.totalPages} gt '1'">
            <nav aria-label="Page navigation example">
                <ul class="pagination">

                    <li class="page-item">
                        <a class="page-link" th:href="'http://47.93.201.74/articleList/'+${view.category.viewName}+'.html'"
                            aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <li class="page-item" th:each="item : ${#numbers.sequence(1, view.page.totalPages)}">
                        <a class="page-link"  th:href="'http://47.93.201.74:8080/articleList/category/'+${view.category.id}+'?page='+${item}" th:text="${item}">1</a>
                    </li>

                    <li class="page-item">
                        <a class="page-link"  th:href="'http://47.93.201.74:8080/articleList/category/'+${view.category.id}+'?page='+${view.page.totalPages}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>


        <div cms:replace="/html/components/footer :: #fragment"></div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios@0.19.0/dist/axios.min.js"></script>
  
    <script src="/templates/resources/js/vue-dev.js"></script>

</body>

</html>