<!DOCTYPE html>
<html lang="en">
<head th:replace="templates/fragment/header :: common_header(~{},~{},~{})">
  <title>Document</title>
</head>
<body>
  <section id="fragment">
      <div id="footer" class="footer ">
          <div class="container">
            <dl>
              <dd>
                <small>
                  &copy; 2020 WANG YANG
                </small>
                <small><a href="http://www.beian.miit.gov.cn/" target="_blank">陕ICP备20004121号</a></small>
              </dd>
              <dd>
                <small>
                  <strong>社交账号：</strong>
                  <a href="https://space.bilibili.com/317341278" target="_blank">哔哩哔哩</a>
                  <a href="https://www.zhihu.com/people/wangyang-20-72" target="_blank">知乎</a>
                </small>
              </dd>
              <dd>
                <small>
                  <strong>联系方式：</strong>
                  <span>邮箱：1749748955@qq.com</span>&nbsp;&nbsp;
                  <span>电话：13892078448</span>
                </small>
              </dd>
            </dl>
          </div>
        </div>
  </section>
</body>
</html>