<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>生物知识首页</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">

</head>

<body>
    <div class="container">

        <!--#include file="/components/header.html"-->
        <div th:if="${isSave== null}">
            <div th:insert="html/components/header :: #header"></div>
        </div>
        
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">首页</li>
            </ol>
        </nav>

        <!--#include file="/components/footer.html"-->
        <div th:if="${isSave== null}">
            <div th:insert="html/components/footer :: #footer"></div>
        </div>
    </div>
</body>

</html>